.DS_Store
.vscode
NSL-KDD\kdd_processed_bin.csv
NSL-KDD\kdd_processed_bin_top15.csv
NSL-KDD\kdd_processed_bin_lime.csv
TON-IoT\ToN-IoT_balanced_smote_top15.csv
TON-IoT\ToN-IoT_balanced_smote.csv
TON-IoT\ToN-IoT_balanced_smote_lime.csv
UNSW-NB15\UNSW_NB15_balanced_smote.csv
UNSW-NB15\unsw_shap_top_15.csv
UNSW-NB15\UNSW_NB15_balanced_smote_lime.csv
X-IIoTID\X-IIoTID dataset_processed.csv
X-IIoTID\X-IIoTID dataset_processed_top15.csv